/*-- scss:defaults --*/

$primary: #637238 !default;

/*-- scss:rules --*/

.sidebar-title {
  color: #637238;
}

/* underline links when hovered */

a:hover{
  text-decoration: underline;
}

.sidebar-title:hover {
  text-decoration: underline;
}

.sidebar-item-text:hover {
  text-decoration: underline;
}

/* status box styling */

.status {
  border: 2px solid #637238;
  padding: 1em;
  margin-bottom: 1em;
}

.status p {
  margin-bottom: 0;
}
