<li><a href="intro.html">Introduction</a></li>

<li class="dropdown-header">Data science essentials</li>
<li><a href="visualize.html">Visualize</a></li>
<li><a href="transform.html">Transform</a></li>
<li><a href="tidy.html">Tidy</a></li>
<li><a href="model.html">Model</a></li>
<li><a href="import.html">Import</a></li>
<li><a href="eda.html">Explore</a></li>

<li class="dropdown-header">Communication</li>
<li><a href="rmarkdown.html">R Markdown</a></li>
<li><a href="shiny.html">Shiny</a></li>

<li class="dropdown-header">Programming</li>
<li><a href="data-structures.html">Data structures</a></li>
<li><a href="functions.html">Expressing yourself</a></li>
<li><a href="strings.html">Strings</a></li>
<li><a href="datetimes.html">Dates and times</a></li>
<li><a href="lists.html">Lists</a></li>

<li class="dropdown-header">Modelling</li>
<li><a href="model-vis.html">Models and visualisation</a></li>
<li><a href="model-assess.html">Model assessment</a></li>
