<li><a href="intro.html">Introduction</a></li>

<li class="dropdown-header"><a href="understand.html">Understand your data</a></li>
<li><a href="visualize.html">Visualize</a></li>
<li><a href="transform.html">Transform</a></li>
<li><a href="model.html">Model</a></li>
<li><a href="variation.html">Variation</a></li>

<li class="dropdown-header"><a href="work.html">Work with your data</a></li>
<li><a href="import.html">Import</a></li>
<li><a href="tidy.html">Tidy</a></li>
<li><a href="relational-data.html">Relational data</a></li>
<li><a href="strings.html">Strings</a></li>
<li><a href="datetimes.html">Dates and times</a></li>

<li class="dropdown-header"><a href="program.html">Save time with programming</a></li>
<li><a href="functions.html">Express yourself with code</a></li>
<li><a href="data-structures.html">Data structures</a></li>
<li><a href="lists.html">Lists and functional programming</a></li>
<li><a href="robust-code.html">Robust code</a></li>

<li class="dropdown-header"><a href="science.html">Do science with data</a></li>
<li><a href="model-vis.html">Discover</a></li>
<li><a href="model-assess.html">Predict</a></li>
<li>Test</li>

<li class="dropdown-header"><a href="communicate.html">Communicate your work</a></a></li>
<li><a href="rmarkdown.html">R Markdown</a></li>
<li><a href="shiny.html">Shiny</a></li>

