<li><a href="04-tidy.html">Tidy data</a></li>
<!--
<li><a href="01-introduction.html">Introduction to data science</a></li>
<li><a href="02-visualize.html">Visualize data</a></li>
<li><a href="03-transform.html">Transform data</a></li>
<li><a href="05-import.html">Import data</a></li>
<li><a href="06-dates.html">Dates and times</a></li>
<li><a href="07-strings.html">Regular expresssions</a></li>
<li><a href="08-model.html">Model data</a></li>
<li><a href="09-reporting.html">Reporting and reproducible research</a></li>
-->
