/* Affix navigation to top-left */
#nav.affix {
  position: static;
}
@media screen and (min-width: 768px) {
  #nav.affix {
    position: fixed;
    top: 10px;
  }
  #nav.affix-bottom {
    position: absolute;
  }
}

/* Ensure navigation has consistent width when scrolling
   http://getbootstrap.com/css/#grid-options shows the column width/screen width mapping */
@media (min-width: 768px) {
  #nav {
     width: 186px;  /* 62*3 */
  }
}
@media (min-width: 992px) {
  #nav {
    width: 243px;  /* 81*3 */
  }
}
@media (min-width: 1200px) {
  #nav {
    width: 291px;  /* 97*3 */
  }
}

/* Tweak code styling */

code {
  padding: 1px;
}

/* Tweak navigation list styling */

ul.toc {
  padding-left: 0px;
}

ul.toc .dropdown-header {
  padding: 5px 0 0 0;
}

ul .dropdown-header:first-child {
  margin-top: 2px;
}

.dropdown-header {
  font-weight: bold;
  color: #333;
  margin-top: 8px;
}

.dropdown-menu .dropdown-header {
  border-bottom: 1px solid #eee;
}


/* Syntax highlighting */

pre, code {
  font-family: 'Inconsolata', sans-serif;
  font-size: 1em;
  background-color: #fafafa;
}
pre {
  border-color: #ddd;
}
code {
  color: #333;
  white-space: normal;
}

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }

/* Class described in https://benjeffrey.com/posts/pandoc-syntax-highlighting-css
   Colours from https://gist.github.com/robsimmons/1172277 */

code > span.kw { color: #555; font-weight: bold; } /* Keyword */
code > span.dt { color: #902000; } /* DataType */
code > span.dv { color: #40a070; } /* DecVal (decimal values) */
code > span.bn { color: #d14; } /* BaseN */
code > span.fl { color: #d14; } /* Float */
code > span.ch { color: #d14; } /* Char */
code > span.st { color: #d14; } /* String */
code > span.co { color: #888888; font-style: italic; } /* Comment */
code > span.ot { color: #007020; } /* OtherToken */
code > span.al { color: #ff0000; font-weight: bold; } /* AlertToken */
code > span.fu { color: #900; font-weight: bold; } /* Function calls */
code > span.er { color: #a61717; background-color: #e3d2d2; } /* ErrorTok */

/* Tables */

table {
  width: 100%;
  margin-bottom: 20px;
}

table thead > tr > th,
table tbody > tr > th,
table tfoot > tr > th,
table thead > tr > td,
table tbody > tr > td,
table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

table tr.odd {
  background-color: #fafafa;
}
